name: Mixin Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest']
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.3

      - name: Build Mixin
        run: |
          go build -o mixin .

      - name: Testing
        if: ${{ matrix.os == 'ubuntu-latest' }}
        working-directory: .
        run: |
          INPUT=10 go test ./... -v
