name: Mixin Test
permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest']
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26

      - name: Build Mixin
        run: |
          go build -o mixin .

      - name: Testing
        if: ${{ matrix.os == 'ubuntu-latest' }}
        working-directory: .
        run: |
          ELECTION=true INPUT=10 go test ./... -v
